USE [master]
GO
/****** Object:  Database [StockManagementSystemDB]    Script Date: 8/29/2018 12:30:11 AM ******/
CREATE DATABASE [StockManagementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManagementSystemDB', FILENAME = N'G:\BITM 2018\code\Project Stock Management System\database\StockManagementSystemDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StockManagementSystemDB_log', FILENAME = N'G:\BITM 2018\code\Project Stock Management System\database\StockManagementSystemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockManagementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockManagementSystemDB]
GO
/****** Object:  Table [dbo].[Category_tbl]    Script Date: 8/29/2018 12:30:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_tbl](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category_tbl] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company_tbl]    Script Date: 8/29/2018 12:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_tbl](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Company_tbl] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item_tbl]    Script Date: 8/29/2018 12:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_tbl](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[CompanyID] [int] NULL,
	[ItemName] [nvarchar](50) NULL,
	[ReorderLevel] [int] NULL,
	[AvailableQuantity] [int] NULL,
 CONSTRAINT [PK_Item_tbl] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogIn_tbl]    Script Date: 8/29/2018 12:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogIn_tbl](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LogIn_tbl] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockOut_tbl]    Script Date: 8/29/2018 12:30:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOut_tbl](
	[StockOutID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[StockOutQuantity] [int] NOT NULL,
	[Flag] [nvarchar](50) NOT NULL,
	[StockOutDate] [date] NOT NULL,
 CONSTRAINT [PK_StockOut_tbl] PRIMARY KEY CLUSTERED 
(
	[StockOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category_tbl] ON 

INSERT [dbo].[Category_tbl] ([CategoryID], [CategoryName]) VALUES (1, N'Stationary')
INSERT [dbo].[Category_tbl] ([CategoryID], [CategoryName]) VALUES (2, N'Cosmetics')
INSERT [dbo].[Category_tbl] ([CategoryID], [CategoryName]) VALUES (3, N'Electronics')
SET IDENTITY_INSERT [dbo].[Category_tbl] OFF
SET IDENTITY_INSERT [dbo].[Company_tbl] ON 

INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (1, N'Unilever')
INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (2, N'RFL')
INSERT [dbo].[Company_tbl] ([CompanyID], [CompanyName]) VALUES (3, N'Walton')
SET IDENTITY_INSERT [dbo].[Company_tbl] OFF
SET IDENTITY_INSERT [dbo].[Item_tbl] ON 

INSERT [dbo].[Item_tbl] ([ItemID], [CategoryID], [CompanyID], [ItemName], [ReorderLevel], [AvailableQuantity]) VALUES (1, 1, 1, N'Bucket', 0, 8)
INSERT [dbo].[Item_tbl] ([ItemID], [CategoryID], [CompanyID], [ItemName], [ReorderLevel], [AvailableQuantity]) VALUES (2, 1, 1, N'chair', 5, 2)
INSERT [dbo].[Item_tbl] ([ItemID], [CategoryID], [CompanyID], [ItemName], [ReorderLevel], [AvailableQuantity]) VALUES (3, 1, 1, N'Table', 0, 15)
SET IDENTITY_INSERT [dbo].[Item_tbl] OFF
SET IDENTITY_INSERT [dbo].[LogIn_tbl] ON 

INSERT [dbo].[LogIn_tbl] ([UserID], [UserName], [Password]) VALUES (1, N'ali', N'ali       ')
INSERT [dbo].[LogIn_tbl] ([UserID], [UserName], [Password]) VALUES (2, N'polash', N'polash    ')
INSERT [dbo].[LogIn_tbl] ([UserID], [UserName], [Password]) VALUES (3, N'zubayer', N'zubayer   ')
SET IDENTITY_INSERT [dbo].[LogIn_tbl] OFF
SET IDENTITY_INSERT [dbo].[StockOut_tbl] ON 

INSERT [dbo].[StockOut_tbl] ([StockOutID], [ItemID], [StockOutQuantity], [Flag], [StockOutDate]) VALUES (5, 3, 2, N'sell', CAST(0x983E0B00 AS Date))
INSERT [dbo].[StockOut_tbl] ([StockOutID], [ItemID], [StockOutQuantity], [Flag], [StockOutDate]) VALUES (6, 6, 2, N'sell', CAST(0x983E0B00 AS Date))
INSERT [dbo].[StockOut_tbl] ([StockOutID], [ItemID], [StockOutQuantity], [Flag], [StockOutDate]) VALUES (7, 1, 1, N'sell', CAST(0x993E0B00 AS Date))
SET IDENTITY_INSERT [dbo].[StockOut_tbl] OFF
ALTER TABLE [dbo].[Item_tbl] ADD  CONSTRAINT [DF_Item_tbl_AvailableQuantity]  DEFAULT ((0)) FOR [AvailableQuantity]
GO
ALTER TABLE [dbo].[Item_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Item_tbl_Category_tbl] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category_tbl] ([CategoryID])
GO
ALTER TABLE [dbo].[Item_tbl] CHECK CONSTRAINT [FK_Item_tbl_Category_tbl]
GO
ALTER TABLE [dbo].[Item_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Item_tbl_Company_tbl] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company_tbl] ([CompanyID])
GO
ALTER TABLE [dbo].[Item_tbl] CHECK CONSTRAINT [FK_Item_tbl_Company_tbl]
GO
ALTER TABLE [dbo].[StockOut_tbl]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_tbl_Item_tbl] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item_tbl] ([ItemID])
GO
ALTER TABLE [dbo].[StockOut_tbl] CHECK CONSTRAINT [FK_StockOut_tbl_Item_tbl]
GO
USE [master]
GO
